body{
    margin:0;
    background:#161b22;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:90%;
    max-width:350px;
    background:#24292f;
    padding:25px;
    border-radius:18px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.4);
}

h1{
    color:white;
}

p{
    color:#c9d1d9;
}

button{
    width:100%;
    margin-top:15px;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#2ea043;
    color:white;
    font-size:18px;
}

button:hover{
    background:#238636;
}
